<h3>Herso Component</h3>
<form [formGroup]="profileForm">
<div>
  <input type="number" name="id"  formControlName="id" />
  <input type="text" name="name"  formControlName="name" />
  <button type="button" (click)="submitHandeler()">Add Hero</button>
</div>
</form>
<!-- <div *ngIf="isLoading">Laoding....</div>
<div *ngIf="error">error....</div> -->
<dynamic-contetnt>
<ul class="heroes" >
  <li *ngFor="let hero of heros | async | slice: 0:5" >
    <div>{{ hero.name | exponentialStrength | uppercase }}</div>
   
  </li>
  </ul>

  </dynamic-contetnt>

<!-- <ng-container *ngIf="heros | async as heros; else loadingOrError">
 
<ul class="heroes" >
    <li *ngFor="let hero of heros" > -->
      <!-- <hero-info name="{{hero.name}}" id="{{hero.id}}" (remove)="delete($event)"></hero-info> -->
      <!-- <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" 
    (click)="delete(hero)">x</button> -->
    <!-- <div>{{ hero.name | exponentialStrength | uppercase }}</div>
    
      </li>
      </ul>
      
    </ng-container> -->
    <!-- <ng-template #loadingOrError>
      <ng-container *ngIf="errorObject; else loading">
        <div class="col-12 text-center">
          <div class="alert alert-danger">
            {{ errorObject }}
          </div>
        </div>
      </ng-container>
      
      <ng-template #loading>
        <div class="col-12 text-center">
          Loading ...
        </div>
      </ng-template>
    </ng-template> -->
      <!-- <div>{{ rendom | apppipe }}</div>
      <button class="delete" 
    (click)="change()">change</button> -->

    