<h3>Dash Board</h3>
<ul>
    <li *ngFor="let boarditem of boarditems" routerLink="/detail/{{boarditem.id}}">
        {{ boarditem.name }}
      </li>
      </ul>

      <div>
        <p>Structureal directive</p>
        <p *iftrue="myCondtion">
          Expression is true and ngIf is true.
          This paragraph is in the DOM.
        </p>
        <!-- <p *ngIf="false">
          Expression is false and ngIf is false.
          This paragraph is not in the DOM.
        </p> -->
        <button type="button" (click)="toggle()"> Toggleclick</button>
        
      </div>

